.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .clock {
	font-size: 3rem;
	font-family: monospace;
	text-align: center;
	padding: 2rem;
	border: 5px solid #000;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	display: inline-block;
	margin: 2rem;
	position: relative;
	transition: border-color 0.5s ease-in-out;
  }
  
  .clock-text {
	position: absolute;
	bottom: -3rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	font-weight: bold;
	color: #000;
  }
  .changecolor{
	cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
	.clock {
	  font-size: 2rem;
	  padding: 1.5rem;
	  margin: 1rem;
	}
  
	.clock-text {
	  font-size: 1rem;
	  bottom: -2rem;
	}
  }
  
  @media only screen and (max-width: 400px) {
	.clock {
	  font-size: 1.5rem;
	  padding: 1rem;
	  margin: 0.5rem;
	}
  
	.clock-text {
	  font-size: 0.8rem;
	  bottom: -1.5rem;
	}
  }

  .visitor-count {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .visitor-count {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 400px) {
    .visitor-count {
        font-size: 1rem;
    }
}

/* Add this to your existing CSS */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
  }
  
  .modal-content img {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: auto;
  }
  
  .close {
	color: crimson;
	float: right;
	font-size: 40px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  

  .floating-text {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  }
  
  .floating-text:hover {
	cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
	.floating-text {
	  top: 200px;
	}
  }
  
  
  

  
